@using System.Web.UI.WebControls
@model TestingModule.ViewModels.ReasignViewModel
@{
    ViewBag.Title = "DisciplineStudents";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




@if (!Model.Specialities.Any())
{
    <h3>Немає жодної спеціальності...</h3>
}
<h1>Студенти які слухають курс - @Model.Disciplines.FirstOrDefault().Name</h1>
@foreach (var spec in Model.Specialities.OrderBy(t => t.Name))
{
    if (Model.Groups.All(t => t.SpecialityId != spec.Id))
    {
        continue;

    }
    if (Model.Students.All(t => t.SpecialityId != spec.Id))
    {
        continue;
    }

    <div class="accordion">
        <div class="accordion_header speciality_header">@spec.Name</div>
        <div class="accordion_body">

            @foreach (var group in Model.Groups.Where(t => t.SpecialityId == spec.Id).OrderBy(t => t.Name))
                {
                <div class="accordion_header group_header">@group.Name</div>
                <div class="accordion_body">
                        @using (Html.BeginForm("NewStudentConnections", "Admin", FormMethod.Post))
                    {
                            <table border="1">

                                <tr title="Студенти"> <th>Ім'я</th><th>Прізвище</th><th>Слухає дисципліну</th> </tr>

                                @foreach (var student in Model.Students.Where(t => t.GroupId == group.Id).OrderBy(t => t.Surname))
                                {
                                    var index = Model.StudentDisciplines.IndexOf(Model.StudentDisciplines.FirstOrDefault(t => t.StudentId == student.Id
                                                                                                                               && t.DisciplineId == Model.Disciplines.FirstOrDefault().Id));

                                    <tr>
                                        <td>@student.Name</td>
                                        <td>@student.Surname</td>
                                        <td>@Html.CheckBoxFor(r => Model.StudentDisciplines[index].IsSelected)</td>
                                        @*@@Html.HiddenFor(r => Model.StudentDisciplines[index].DisciplineId)*@
                                        @Html.HiddenFor(r => Model.StudentDisciplines[index].StudentId)

                                    </tr>
                                }
                                @for (int i = 0; i < Model.StudentDisciplines.Count; i++)
                                {
                                    @Html.HiddenFor(t => Model.StudentDisciplines[i].DisciplineId);
                                }
                                <tr>
                                    <td class="table-item table-item_name" colspan="3">
                                        <input type="submit" value="Зберегти" />
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
            }

        </div>
    </div>

}