@model TestingModule.ViewModels.ReasignViewModel
@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
@TempData["Success"]

@if (!Model.Groups.Any())
{
    <h3>Немає жодної групи...</h3>
}
else
{
    <h2>Групи спеціальності <u>@Model.Specialities.FirstOrDefault(t => t.Id == Model.Groups.FirstOrDefault().SpecialityId).Name</u></h2>
    <table class="table" border="1">
        <tr class="table-row table-header-row"><th class="table-header table-header_name">Назва</th><th class="table-header">Дії</th></tr>

        @foreach (var item in Model.Groups.OrderBy(t => t.Name))
        {
            <tr class="table-row">
                <td class="table-item table-item_name"><a data-id="@item.Id" href="groups/@item.Id/students" class="table-item_name_text">@item.Name</a></td>
                <td class="table-item table-item_edit">
                    <div class="table-button table-edit-button"><i class='fa fa-pencil' aria-hidden='true'></i>Редагувати</div>
                    <div data-remove="groups/@item.Id/Delete" class="table-button table-remove-button"><i class='fa fa-trash' aria-hidden='true'></i>Видалити</div>

                </td>
            </tr>
        }

    </table>

}

<button class="addNewItem-btn"><i class="fa fa-plus" aria-hidden="true"></i> Додати нову групу</button>

<div class="popup popup-remove">
    <div class="popup-body">
        <div class="popup-content">
            <div class="popup-title">Дійсно видалити <span></span>?</div>
            <form>
                <button class="btn popup-btn popup-remove-btn">Видалити</button>
                <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
            </form>
        </div>
    </div>
</div>

<div class="popup popup-edit">
    <div class="popup-body">
        <div class="popup-content">
            @using (Html.BeginForm("EditGroup", "admin", FormMethod.Post))
            {
                <div class="popup-title">Редагування</div>
                <form>
                    @Html.TextBoxFor(model => model.Groups.FirstOrDefault().Name, new { @class = "input-text", @placeholder = "Введіть назву групи", @required = "required" })
                    <div>
                        @Html.DropDownListFor(model => model.Groups.FirstOrDefault().SpecialityId, new SelectList(Model.Specialities, "Id", "Name", new { @id = "SpecialityId" }), "Оберіть спеціальність")
                    </div>
                    @Html.HiddenFor(model => model.Groups.FirstOrDefault().Id, new { @id = "id" })
                    <button class="btn popup-btn popup-save-btn" type="submit">Зберегти</button>
                    <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
                </form>
            }
        </div>
    </div>
</div>

<div class="popup popup-add">
    <div class="popup-body">
        <div class="popup-content">
            <div class="popup-title">Додати нову групу</div>
            @using (Html.BeginForm("NewGroup", "admin", FormMethod.Post))
            {
                <form>
                    <div>
                        Введіть назву групи:
                        @{
                            var name = Model.Groups.LastOrDefault();
                        }
                        @if (name == null)
                        {
                            @Html.TextBoxFor(model => model.Groups.LastOrDefault().Name, new { @class = "input-text", @placeholder = "Введіть назву групи", @required = "required", })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Groups.LastOrDefault().Name, name.Name = "", new { @class = "input-text", @placeholder = "Введіть назву групи", @required = "required" })
                        }
                    </div>
                    <div>
                        <button class="btn popup-btn popup-create-btn" type="submit">Додати</button>
                        <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
                    </div>
                </form>
                            }
        </div>
    </div>
</div>