@using TestingModule.Additional
@using TestingModule.Models
@model TestingModule.ViewModels.ReasignViewModel
@{
    ViewBag.Title = "Домашня сторінка";
    Layout = "~/Views/Shared/_LayoutAdminHomepage.cshtml";
}

@if (new AccountCredentials().GetRole() == RoleName.Lecturer)
{
    foreach (var discipline in
        from d in Model.Disciplines
        join lh in Model.LecturesHistories on d.Id equals lh.DisciplineId
        group d by d.Id into dg
        select dg.FirstOrDefault())
    {
        <div class="disciplineName">@discipline.Name</div>
        foreach (var lecture in
            from l in Model.Lectures
            where l.DisciplineId==discipline.Id
            join lh in Model.LecturesHistories on l.Id equals lh.LectureId
            group l by l.Id into lj
            select lj.FirstOrDefault())
        {
            <div class="lecture">
                <div class="lecture_name">@lecture.Name</div>
                <div class="lectures_dates">
                    @foreach (var lectureHistory in Model.LecturesHistories.Where(h => h.LectureId == lecture.Id))
                    {
                        <a href="@Url.Action("unfreezelecture", "Admin", new { lectureHistoryId = lectureHistory.Id})" class="lecture_date">@lectureHistory.StartTime.ToLocalTime()</a>
                    }
                </div>
            </div>
        }
    }
    <button class="addNewItem-btn"><i class="fa fa-plus" aria-hidden="true"></i> Розпочати лекцію</button>
    <div class="popup popup-add popup-startLecture">
        <div class="popup-body">
            <div class="popup-content">
                <div class="popup-title">Розпочату лекцію</div>
                @using (Html.BeginForm("StartLecture", "Admin", FormMethod.Post))
                {
                    <form>

                        <div class="popup-subtitle">Виберіть дисципліну</div>
                        @*@Html.DropDownListFor(model => Model.Disciplines[0].Id, new SelectList(Model.Disciplines, "Id", "Name", new { @Id = "DisciplineId" }), "Виберіть дисципліну")*@
                        @Html.DropDownListFor(model => Model.Disciplines[0].Id, new SelectList(Model.Disciplines, "Id", "Name"), new
                   {
                       @class = "startLecture_selectDiscipline",
                       id = "ddldiscipline",
                       //@onchange = "javascript:GetLecture(this.value);",
                       AutoPostBack = "True"
                   })
                        <div class="popup-subtitle">Виберіть лекцію</div>
                        @Html.DropDownListFor(model => Model.Lectures[0].Id, new SelectList(Model.Lectures, "Id", "Name"), new
                   {
                       @id = "ddllecture",
                       name = "ddllecture",
                       @class = "startLecture_selectLecture"
                   })

                        @*@Html.DropDownListFor(model => Model.Lectures[0].Id, new SelectList(Model.Lectures, "Id", "Name", new { @Id = "LectureId" }), "Виберіть лекцію")*@
                        @*@Html.DropDownListFor(model => Model.Lectures[0].Id, new SelectList(Model.Lectures, "Id", "Name"), new { @class = "startLecture_selectLecture" })*@
                        <div class="popup-subtitle">Виберіть групи</div>
                        <div class="groupItems">
                            @for (int i = 0; i < Model.Groups.Count; i++)
                            {
                                <div class="groupItem">
                                    <label for="@Model.Groups[i].Id">
                                        <span class="groupItem_title">@Model.Groups[i].Name </span>
                                        @Html.CheckBoxFor(r => Model.Groups[i].IsSelected, new { id = Model.Groups[i].Id, @class = "startLecture_disciplineSelect" })
                                        @Html.HiddenFor(t => Model.Groups[i].Id)
                                    </label>
                                </div>
                            }
                        </div>

                        <div>
                            <button class="btn popup-btn popup-start-btn" type="submit" disabled>Розпочати</button>
                            <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
}
else
{
    <table>
        <tr><td>Дисциплін</td><td>@Model.Disciplines.Count()</td></tr>
        <tr><td>Лекцій</td><td>@Model.Lectures.Count()</td></tr>
        <tr><td>Модулів</td><td>@Model.Modules.Count()</td></tr>
        <tr><td>Питань</td><td>@Model.Questions.Count()</td></tr>
        <tr><td>Відповідей</td><td>@Model.Answers.Count()</td></tr>
        <tr><td>Спеціальностей</td><td>@Model.Specialities.Count()</td></tr>
        <tr><td>Груп</td><td>@Model.Groups.Count()</td></tr>
        <tr><td>Студентів</td><td>@Model.Students.Count()</td></tr>
        <tr><td>Лекторів</td><td>@Model.Lectors.Count()</td></tr>
    </table>
}