@model IEnumerable<TestingModule.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Лектори";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}
@if (@TempData["Success"] != null)
{
    <div class="isa_success">
        <i class="fa fa-check"></i>
        @TempData["Success"]
    </div>
}


@if (TempData["Fail"] != null)
{
    <div class="isa_error">
        <i class="fa fa-times-circle"></i>
        @TempData["Fail"]
    </div>
}

<h2>Лектори</h2>
@if (!Model.Any())
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Отакої!
                    </h1>
                    <h2>
                        Немає жодного лектора...
                    </h2>
                    <div class="error-details">
                        Створіть лукторів за допомогою кнопки "Додати нового лектора".
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{

    <table class="table table__lectors" border="1">
        <tr class="table-row table-header-row">
            <th class="table-header">Прізвище</th>
            <th class="table-header">Ім'я</th>
            <th class="table-header">Username</th>
            <th class="table-header">Password</th>
            <th class="table-header">Дії</th>
        </tr>

        @foreach (var item in Model.OrderBy(t => t.Surname))
        {
            <tr class="table-row">
                <td class="table-item table-item_surname" data-id="@item.Id" data-editable>@item.Surname</td>
                <td class="table-item table-item_name" data-editable>@item.Name</td>
                <td class="table-item" data-editable>@item.Login</td>
                <td class="table-item" data-editable>@item.Password</td>
                <td class="table-item table-item_edit">
                    <div class="table-button table-edit-button"><i class='fa fa-pencil' aria-hidden='true'></i>Редагувати
                    </div>
                    <div data-remove="lectors/@item.Id/Delete" class="table-button table-remove-button"><i class='fa fa-trash' aria-hidden='true'></i>Видалити
                    </div>
                </td>
            </tr>
        }

    </table>
}

<button class="addNewItem-btn"><i class="fa fa-plus" aria-hidden="true"></i> Додати нового лектора</button>

<div class="popup popup-remove">
    <div class="popup-body">
        <div class="popup-content">
            <div class="popup-title">Дійсно видалити лектора <span></span>?</div>
            <form>
                <button class="btn popup-btn popup-remove-btn">Видалити</button>
                <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
            </form>
        </div>
    </div>
</div>

<div class="popup popup-add">
    <div class="popup-body">
        <div class="popup-content">
            <div class="popup-title">Додати нового лектора</div>
            @using (Html.BeginForm("NewLector", "admin", FormMethod.Post))
            {
                <form>
                    @{
                        var name = Model.LastOrDefault();
                        var surname = Model.LastOrDefault();
                    }
                    @if (surname == null)
                    {
                        @Html.TextBoxFor(model => model.LastOrDefault().Surname, new { @class = "input-text", @placeholder = "Введіть прізвище лектора", @required = "required" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.LastOrDefault().Surname, surname.Surname = "", new { @class = "input-text", @placeholder = "Введіть прізвище лектора", @required = "required" })
                    }
                    @if (name == null)
                    {
                        @Html.TextBoxFor(model => model.LastOrDefault().Name, new { @class = "input-text", @placeholder = "Введіть ім\'я лектора", @required = "required" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.LastOrDefault().Name, name.Name = "", new { @class = "input-text", @placeholder = "Введіть ім\'я лектора", @required = "required" })
                    }
                   
                    <div>
                        <button class="btn popup-btn popup-create-btn" type="submit">Додати</button>
                        <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
                    </div>
                </form>
                        }
        </div>
    </div>
</div>

<div class="popup popup-edit">
    <div class="popup-body">
        <div class="popup-content">
            @using (Html.BeginForm("EditLector", "admin", FormMethod.Post))
            {
                <div class="popup-title">Редагування</div>
                <form>
                    @Html.HiddenFor(model => model.FirstOrDefault().Id, new { @id = "Id" })
                    @Html.HiddenFor(model => model.FirstOrDefault().AccountId, new { @accountId = "AccountId" })
                    @Html.TextBoxFor(model => model.FirstOrDefault().Surname, new { @class = "input-text", @placeholder = "Введіть прізвище лектора", @required = "required" })
                    @Html.TextBoxFor(model => model.FirstOrDefault().Name, new { @class = "input-text", @placeholder = "Введіть ім'я лектора", @required = "required" })
                    @Html.TextBoxFor(model => model.FirstOrDefault().Login, new { @class = "input-text" })
                    @Html.TextBoxFor(model => model.FirstOrDefault().Password, new { @class = "input-text" })
                    <button class="btn popup-btn popup-save-btn" type="submit">Зберегти</button>
                    <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
                </form>
            }
        </div>
    </div>
</div>