@model IEnumerable<TestingModule.Models.Module>
@{
    ViewBag.Title = "Modules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Модулі</h2>
@if (!Model.Any())
{
    <h3>Немає жодного модуля...</h3>
}
else
{
    <table border="1">
        <tr><th>Назва</th><th>Дії</th></tr>


        @foreach (var item in Model)
        {
            <tr class="table-row">
                <td class="table-item table-item_name"><a data-id="@item.Id" href="modules/@item.Id/questions" class="table-item_name_text">@item.Name</a></td>
                <td class="table-item table-item_edit">
                    <div class="table-edit-button">Редагувати</div>
                    <div data-remove="modules/@item.Id/Delete" class="table-remove-button">Видалити</div>
                </td>
            </tr>
        }


    </table>
}
<hr>

<h3>Створити нову?</h3>

@using (Html.BeginForm("NewModule", "Admin", FormMethod.Post))
{
    <form>
        <div>
            Введіть назву модуля:
            @{
                var name = Model.LastOrDefault();
            }
            @if (name == null)
            {
                @Html.TextBoxFor(model => model.LastOrDefault().Name, new { @class = "form - control" })
            }
            else
            {
                @Html.TextBoxFor(model => model.LastOrDefault().Name, name.Name = "", new { @class = "form - control" })
            }
            </div>
            @Html.HiddenFor(model => model.LastOrDefault().LectureId)
            @Html.HiddenFor(model => model.LastOrDefault().DisciplineId)
        <div>
            <button type="submit">Створити</button>
        </div>
    </form>
}
<div class="popup popup-remove">
    <div class="popup-body">
        <div class="popup-content">
            <div class="popup-title">Дійсно видалити <span></span>?</div>
            <form>
                <button class="btn popup-btn popup-remove-btn">Видалити</button>
                <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
            </form>
        </div>
    </div>
</div>