@model TestingModule.ViewModels.ReasignViewModel
@{
    ViewBag.Title = "Модулі";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

@if (@TempData["Success"] != null)
{
    <div class="isa_success">
        <i class="fa fa-check"></i>
        @TempData["Success"]
    </div>
}


@if (TempData["Fail"] != null)
{
    <div class="isa_error">
        <i class="fa fa-times-circle"></i>
        @TempData["Fail"]
    </div>
}

<button class="addNewItem-btn"><i class="fa fa-plus" aria-hidden="true"></i> Додати новий модуль</button>
@if (!Model.Modules.Any())
{
    <h3>Немає жодного модуля...</h3>
}
else
{
    <h2>Модулі лекції <u>@Model.Lectures.FirstOrDefault(t => t.Id == Model.Modules.FirstOrDefault().LectureId).Name</u></h2>
    <table class="table" border="1">
        <tr class="table-row table-header-row"><th class="table-header table-header_name">Назва</th><th class="table-header">Дії</th></tr>

        @foreach (var item in Model.Modules.OrderBy(t => t.Name))
        {
            <tr class="table-row">
                <td class="table-item table-item_name"><a data-id="@item.Id" href="modules/@item.Id/questions" class="table-item_name_text" data-editable>@item.Name</a></td>
                <td class="table-item table-item_edit">
                    <div class="table-button table-edit-button"><i class='fa fa-pencil' aria-hidden='true'></i>Редагувати</div>
                    <div data-remove="modules/@item.Id/Delete" class="table-button table-remove-button"><i class='fa fa-trash' aria-hidden='true'></i>Видалити</div>

                </td>
            </tr>
        }

    </table>

}

<div class="popup popup-remove">
    <div class="popup-body">
        <div class="popup-content">
            <div class="popup-title">Дійсно видалити <span></span>?</div>
            <form>
                <button class="btn popup-btn popup-remove-btn">Видалити</button>
                <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
            </form>
        </div>
    </div>
</div>

<div class="popup popup-add">
    <div class="popup-body">
        <div class="popup-content">
            <div class="popup-title">Додати новий модуль?</div>
            @using (Html.BeginForm("NewModule", "admin", FormMethod.Post))
            {
                <form>
                    <div>
                        Введіть назву модулю:
                        @{
                            var name = Model.Modules.LastOrDefault();
                        }
                        @if (name == null)
                        {
                            @Html.TextBoxFor(model => model.Modules.LastOrDefault().Name, new { @class = "input-text" , @placeholder = "Введіть назву модуля", @required = "required" })
                        }
                        else
                        {
                            @Html.TextBoxFor(model => model.Modules.LastOrDefault().Name, name.Name = "", new { @class = "input-text" , @placeholder = "Введіть назву модуля", @required = "required" })
                        }
                    </div>
                    <div>
                        <button class="btn popup-btn popup-create-btn" type="submit">Додати</button>
                        <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
                    </div>
                </form>
                            }
        </div>
    </div>
</div>

<div class="popup popup-edit">
    <div class="popup-body">
        <div class="popup-content">
            @using (Html.BeginForm("EditModule", "admin", FormMethod.Post))
            {
                <div class="popup-title">Редагування</div>
                <form>
                    @Html.TextBoxFor(model => model.Modules.FirstOrDefault().Name, new { @class = "input-text", @placeholder = "Введіть назву модуля", @required = "required" })
                    <div>
                        @Html.DropDownListFor(model => model.Modules.FirstOrDefault().LectureId, new SelectList(Model.Lectures, "Id", "Name", new { @id = "lectureId" }), "Оберіть лекцію")
                    </div>
                    @Html.HiddenFor(model => model.Modules.FirstOrDefault().Id, new { @id = "id" })
                    @Html.HiddenFor(model => model.Modules.FirstOrDefault().DisciplineId, new { @id = "id" })
                    <button class="btn popup-btn popup-save-btn" type="submit">Зберегти</button>
                    <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
                </form>
            }
        </div>
    </div>
</div>