@model IEnumerable<TestingModule.Models.QueAns>
@{
    ViewBag.Title = "Questions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Питання</h2>
@if (!Model.Any())
{
    <h3>Немає жодного питання...</h3>
}
else
{
    foreach (var item in Model.GroupBy(t => t.QuestionId))
    {
        <table border="1">

            <tr class="table-row">
                <th class="table-item table-item_name"><a data-id="@item.FirstOrDefault().QuestionId" class="table-item_name_text">@item.FirstOrDefault().Question</a></th>
                <th class="table-item table-item_edit">
                    <div class="table-button table-edit-button"><i class='fa fa-pencil' aria-hidden='true'></i>Редагувати</div>
                    <div data-remove="Questions/@item.FirstOrDefault().QuestionId/delete" class="table-button table-remove-button"><i class='fa fa-trash' aria-hidden='true'></i>Видалити</div>
                </th>
            </tr>

            @if (item.Any())
            {
                foreach (var que in item)
                {
                    <tr class="table-row" bgcolor="f1f1f1">
                        <td class="table-item table-item_name"><a data-id="@que.AnswerId" class="table-item_name_text">@que.Answer</a></td>
                        <td class="table-item table-item_edit">
                            <div class="table-button table-edit-button">
                                <i class='fa fa-pencil' aria-hidden='true'></i>Редагувати
                            </div>
                            <div data-remove="Answers/@que.AnswerId/delete" class="table-button table-remove-button">
                                <i class='fa fa-trash' aria-hidden='true'></i>Видалити
                            </div>
                        </td>
                    </tr>
                }
            }
            @using (Html.BeginForm("NewAnswer", "Admin", FormMethod.Post, new { @class = "addNewItem-form" }))
            {
                <tr>
                    <form>
                        @{
                            var name = Model.LastOrDefault();
                        }
                        <td>
                            @if (name == null)
                            {
                                @Html.TextBoxFor(model => model.LastOrDefault().Answer, new { @class = "input-text" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.LastOrDefault().Answer, name.Answer = "", new { @class = "input-text" })
                            }
                            @Html.HiddenFor(model => model.LastOrDefault().QuestionId)
                        </td>
                        <td>
                            <button type="submit">Додати</button>
                        </td>
                    </form>
                </tr>
                            }
        </table>
        <br>
                                }
                            }
<button class="addNewItem-btn"><i class="fa fa-plus" aria-hidden="true"></i> Додати нове питання?</button>
<hr>

<div class="popup popup-remove">
    <div class="popup-body">
        <div class="popup-content">
            <div class="popup-title">Дійсно видалити <span></span>?</div>
            <form>
                <button class="btn popup-btn popup-remove-btn">Видалити</button>
                <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
            </form>
        </div>
    </div>
</div>

<div class="popup popup-add">
    <div class="popup-body">
        <div class="popup-content">
            <div class="popup-title">Створити нове питання</div>
            @using (Html.BeginForm("NewQuestion", "Admin", FormMethod.Post, new { @class = "addNewItem-form" }))
            {
                <form>
                    @{
                        var name = Model.LastOrDefault();
                    }
                    @if (name == null)
                    {
                        @Html.TextBoxFor(model => model.LastOrDefault().Question, new { @class = "input-text" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.LastOrDefault().Question, name.Question = "", new { @class = "input-text" })
                    }
                    @Html.HiddenFor(model => model.LastOrDefault().ModuleId)
                    @Html.HiddenFor(model => model.LastOrDefault().DisciplineId)
                    @Html.HiddenFor(model => model.LastOrDefault().LectureId)
                    <button class="btn popup-btn popup-create-btn" type="submit">Додати</button>
                    <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
                </form>
                        }
        </div>
    </div>
</div>