@model IList<TestingModule.ViewModels.QueAns>
@{
    ViewBag.Title = "Запитання та відповіді";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

@if (@TempData["Success"] != null)
{
    <div class="isa_success">
        <i class="fa fa-check"></i>
        @TempData["Success"]
    </div>
}


@if (TempData["Fail"] != null)
{
    <div class="isa_error">
        <i class="fa fa-times-circle"></i>
        @TempData["Fail"]
    </div>
}

@if (!Model.Any())
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Отакої!
                    </h1>
                    <h2>
                        Немає жодного питання...
                    </h2>
                    <div class="error-details">
                        Створіть питання за допомогою кнопки "Додати нове питання".
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <button class="addNewItem-btn"><i class="fa fa-plus" aria-hidden="true"></i> Додати нове питання</button>
    <h2>Питання модуля <u>@Model.FirstOrDefault().Modules.FirstOrDefault().Name</u></h2>
    foreach (var item in Model.GroupBy(t => t.QuestionId))
    {
        <div class="questionBlock">
            <table class="table table_questions" border="1">
                @using (Html.BeginForm("EditAnswer", "admin", FormMethod.Post))
                {
                    <tr class="table-row">
                        <th class="table-item table-item_name">
                            @Html.TextBoxFor(model => Model[Model.IndexOf(item.FirstOrDefault())].Question, new
                      {
                          @class = "input-text-Questions",
                          @placeholder = "Введіть текст запитання",
                          @required = "required"
                      })
                        </th>
                        <th class="table-item table-item_correct"> Правильна відповідь </th>
                        <th class="table-item table-item_correct">
                            <div data-remove="Questions/@item.FirstOrDefault().QuestionId/delete" class="table-button table-remove-button"><i class='fa fa-trash' aria-hidden='true'></i>Видалити</div>
                        </th>
                    </tr>

                    if (item.Any())
                    {

                        foreach (var que in item)
                        {
                            if (que.Answer == null && que.AnswerId == null)
                            {
                                break;
                            }

                            <tr class="table-row">
                                <td class="table-item table-item_name">
                                    @Html.TextBoxFor(model => Model[Model.IndexOf(que)].Answer, new { @class = "input-text-Questions", @placeholder = "Введіть текст відповіді", @required = "required" })
                                    @Html.HiddenFor(model => Model[Model.IndexOf(que)].AnswerId)
                                    @Html.HiddenFor(model => Model[Model.IndexOf(que)].Question)
                                    @Html.HiddenFor(model => Model[Model.IndexOf(que)].QuestionId)
                                    @Html.HiddenFor(model => Model[Model.IndexOf(que)].ModuleId)
                                </td>
                                <td class="table-item table-item_correct">
                                    <label>
                                        @Html.RadioButtonFor(model => Model[Model.IndexOf(que)].IsCorrect,(bool?) true, new { @class = "radioInput"})
                                    </label>
                                </td>
                                <td class="table-item table-item_correct">
                                    <div data-remove="Answers/@que.AnswerId/delete" class="table-button table-remove-button">
                                        <i class='fa fa-trash' aria-hidden='true'></i>Видалити
                                    </div>
                                </td>
                            </tr>
                        }
                        for (int i = 0; i < Model.Count; i++)
                        {
                            @Html.HiddenFor(model => Model[i].QuestionId)
                            @Html.HiddenFor(model => Model[i].Question)
                        }
                        <button class="btnSave" type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i>Зберегти</button>
                    }
                }
                @using (Html.BeginForm("NewAnswer", "admin", FormMethod.Post, new { @class = "addNewItem-form" }))
                {
                    <form>
                        @{
                            var name = item.LastOrDefault();
                        }
                        <td class="table-item table-item_new">
                            @if (name == null)
                        {
                                @Html.TextBoxFor(model => item.LastOrDefault().Answer, new { @class = "input-text-Questions", @placeholder = "Введіть нову відповідь", @required = "required" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => item.LastOrDefault().Answer, name.Answer = "", new { @class = "input-text-Questions", @placeholder = "Введіть нову відповідь", @required = "required" })
                            }
                            @Html.HiddenFor(model => item.FirstOrDefault().QuestionId)
                            @Html.HiddenFor(model => item.FirstOrDefault().DisciplineId)
                            @Html.HiddenFor(model => item.FirstOrDefault().LectureId)
                        </td>
                        <td class="table-item table-item_new" colspan="2">
                            <button type="submit" class="addAnsBtn"><i class="fa fa-plus" aria-hidden="true"></i>Додати відповідь</button>
                        </td>
                    </form>
                            }
            </table>
            <div class="select">
                @Html.DropDownListFor(model => Model[Model.IndexOf(item.FirstOrDefault())].ModuleId, new SelectList(Model.FirstOrDefault().Modules,
                                "Id", "Name", new { @id = "moduleId" }), "Оберіть модуль")
            </div>
        </div>

                                }
                            }


<div class="popup popup-remove">
    <div class="popup-body">
        <div class="popup-content">
            <div class="popup-title">Дійсно видалити <span></span>?</div>
            <form>
                <button class="btn popup-btn popup-remove-btn">Видалити</button>
                <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
            </form>
        </div>
    </div>
</div>

<div class="popup popup-add">
    <div class="popup-body">
        <div class="popup-content">
            <div class="popup-title">Створити нове питання</div>
            @using (Html.BeginForm("NewQuestion", "admin", FormMethod.Post, new { @class = "addNewItem-form" }))
            {
                <form>
                    @{
                        var name = Model.LastOrDefault();
                    }
                    @if (name == null)
                    {
                        @Html.TextBoxFor(model => model.LastOrDefault().Question, new { @class = "input-text", @placeholder = "Введіть нове запитання", @required = "required" })
                    }
                    else
                    {
                        @Html.TextBoxFor(model => model.LastOrDefault().Question, name.Question = "", new { @class = "input-text", @placeholder = "Введіть нове запитання", @required = "required" })
                    }
                    @Html.HiddenFor(model => model.LastOrDefault().ModuleId)
                    @Html.HiddenFor(model => model.LastOrDefault().DisciplineId)
                    @Html.HiddenFor(model => model.LastOrDefault().LectureId)
                    <button class="btn popup-btn popup-create-btn" type="submit">Додати</button>
                    <button class="btn popup-btn popup-cancel-btn closePopupBtn">Відмінити</button>
                </form>
                        }
        </div>
    </div>
</div>