@model IEnumerable<TestingModule.ViewModels.DiscLecotorViewModel>
    @{
        ViewBag.Title = "TestingModule";
        Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    }


    @if (@TempData["Success"] != null)
    {
        <div class="isa_success">
            <i class="fa fa-check"></i>
            @TempData["Success"]
        </div>
    }


    @if (TempData["Fail"] != null)
    {
        <div class="isa_error">
            <i class="fa fa-times-circle"></i>
            @TempData["Fail"]
        </div>
    }

    <h2>Дисципліни</h2>
    @if (!Model.Any())
    {
        <h3>Немає жодної дисципліни...</h3>
    }
    else
    {
        <table class="table" border="1">
            <tr class="table-row table-header-row"><th class="table-header table-header_name">Назва</th><th class="table-header">Лектор</th></tr>

            @foreach (var item in Model.OrderBy(t => t.Name))
            {
                <tr class="table-row">
                    <td class="table-item table-item_name">
                        <a  class="table-item_name_text">@item.Name</a>
                    </td>
                    <td class="table-item table-item_name">

                        @{
                            var name = item.Lectors.FirstOrDefault(t => t.Id == item.LectorId);
                        }
                        @if (name != null)
                        {
                            @name.Name
                        }

                        @{
                            var surname = item.Lectors.FirstOrDefault(t => t.Id == item.LectorId);
                        }
                        @if (surname != null)
                        {
                            @surname.Surname
                        }
                    </td>

                </tr>
            }

        </table>
    }
