@model IEnumerable<TestingModule.ViewModels.DiscLectorCumulativeCheckViewModel>
@{
    ViewBag.Title = "TestingModule";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}


@if (@TempData["Success"] != null)
{
    <div class="isa_success">
        <i class="fa fa-check"></i>
        @TempData["Success"]
    </div>
}


@if (TempData["Fail"] != null)
{
    <div class="isa_error">
        <i class="fa fa-times-circle"></i>
        @TempData["Fail"]
    </div>
}

<h2>Ви прослуховуєте наступні дисципліни:</h2>
@if (!Model.Any())
{
    <h3>У Вас немає жодної дисципліни. Будь ласка, зверніться до Вашого куратора.</h3>
}
else
{
    <table class="table" border="1">
        <tr class="table-row table-header-row"><th class="table-header table-header_name">Назва</th><th class="table-header">Лектор</th></tr>

        @foreach (var item in Model.OrderBy(t => t.DiscName))
        {
            <tr class="table-row">
                <td class="table-item table-item_name">
                    <a data-id="@item.DiscId" href="Student/@item.DiscId/lectures" class="table-item_name_text" data-editable>@item.DiscName</a>
                </td>
                <td>
                    @if (item.CumulativeQuizId!=null)
                    {
                        <a href="@Url.Action("CumulativeQuiz", "Quiz", new {cumulativeQuizId = item.CumulativeQuizId})">Пройти тестування</a>
                    }
                </td>
                <td class="table-item table-item_name">

                    @if (item.Lectors != null)
                    {
                        foreach (var lector in item.Lectors)
                        {
                            @(lector.Name + " " + lector.Surname)
                            if (lector != item.Lectors.Last())
                            {
                                @(", ")
                            }
                        }
                    }
                    else
                    {
                        @("Наразі викладачі даної дисципліни відсутні.")
                    }
                </td>
            </tr>
        }

    </table>
}

@section scripts
{
    <script>
        var quiz = $.connection.quizHub;
        $.connection.hub.start();
        var intervalTime = 3000;
        quiz.client.reciveModuleHistoryId = function (moduleHistoryId) {
            console.log(moduleHistoryId);
            window.location.href = '/quiz/' + moduleHistoryId;
        };
    </script>
}