@model TestingModule.ViewModels.ReasignViewModel
@{
    ViewBag.Title = "Модулі";
    Layout = "~/Views/Shared/_Layoutstudent.cshtml";
}


@if (@TempData["Success"] != null)
{
    <div class="isa_success">
        <i class="fa fa-check"></i>
        @TempData["Success"]
    </div>
}


@if (TempData["Fail"] != null)
{
    <div class="isa_error">
        <i class="fa fa-times-circle"></i>
        @TempData["Fail"]
    </div>
}


@if (!Model.Modules.Any())
{
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Отакої!
                    </h1>
                    <h2>
                        Немає жодного модуля...
                    </h2>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1><u>@Model.Lectures.FirstOrDefault(t => t.Id == Model.Modules.FirstOrDefault().LectureId).Name</u></h1>
    <h2>Матеріали лекції</h2>
    if (Model.Lectures.FirstOrDefault(t => t.Id == Model.Modules.FirstOrDefault().LectureId).Description == null)
    {
        <div>Немає матеріалів лекції...</div>
    }
    else
    {
        <div class="description">@Model.Lectures.FirstOrDefault(t => t.Id == Model.Modules.FirstOrDefault().LectureId).Description</div>
    }
    <hr>
    <h1>Модулі лекції</h1>

        foreach (var item in Model.Modules.OrderBy(t => t.Name))
        {
            
            <h2>@item.Name</h2>
            <h3>Матеріали модуля</h3>
        if (item.Description != null)
        {
            <div class="description">@item.Description</div>
        }
        else
        {
            <div>Немає матеріалів лекції...</div>
        }
            <hr>
        }

}
