<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestingModule - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

</head>
<body>

    <div class="main-container">
        <div class="navbar">
            @*@Html.ActionLink("Masters of masters", "Index", "admin", new { area = "" }, new { @class = "navbar-logo" })*@
            <a href="@Url.Action("Index", "Admin")" class="navbar-logo"><i class='fa fa-globe' aria-hidden='true'></i>Домашня сторінка</a>

            <div class="navbar-login">
                @Html.Partial("_LoginPartial")
            </div>

            <nav class="navbar-nav">

                @{  var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                    var c = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Role);
                    if (Request.IsAuthenticated)
                    {
                        if (c.Value.ToString() != "Student")
                        {
                            <!--<a href="@Url.Action("Index", "Admin")"><i class='fa fa-user-secret' aria-hidden='true'></i>admin</a>-->
                            <a href="@Url.Action("Disciplines", "Admin")"><i class='fa fa-graduation-cap' aria-hidden='true'></i>Дисципліни</a>
                        }
                        if (c.Value.ToString() == "Lecturer")
                        {
                            <a href="@Url.Action("TotalStatistics", "Quiz")"><i class='fa fa-pie-chart' aria-hidden='true'></i>Статистика</a>
                        }
                        if (c.Value.ToString() != "Lecturer")
                        {
                            <a href="@Url.Action("Specialities", "Admin")"><i class='fa fa-book' aria-hidden='true'></i>Спеціальності</a>
                            <a href="@Url.Action("Lectors", "Admin")"><i class='fa fa-users' aria-hidden='true'></i>Лектори</a>
                        }
                    }
                }
            </nav>
            @*@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "navbar-login" })*@

        </div>
        <div class="body-content body-content__admin">
            @RenderBody()
            <footer>
                <!-- <p>&copy; @DateTime.Now.Year - RBS</p> -->
            </footer>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jquery-ui")
        <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/app.js"></script>
        @RenderSection("scripts", required: false)
   
   
</body>
</html>
