<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar">
        <div class="container">
            @Html.ActionLink("Masters of masters", "Index", "Admin", new { area = "" }, new { @class = "navbar-logo" })
            <nav class="navbar-nav">
                @Html.ActionLink("Admin", "Index", "Admin")
                @Html.ActionLink("Disciplines", "Disciplines", "Admin")
                @Html.ActionLink("Contact", "Contact", "Admin")
                @Html.ActionLink("Specialities", "Specialities", "Admin")
            </nav>
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "navbar-login" })
            @*@Html.Partial("_LoginPartial")*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - RBS</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
