<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestingModule - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    @{
        var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
        var surname = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Surname).Value;
        <ul>
            <li><a href="/Student">TestingModule</a></li>

            <li style="float: right"><span>@User.Identity.Name @surname</span></li>

            @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "active-user" }))
            {
                @Html.AntiForgeryToken()
                <li style="float: right">
                    <a class="active" href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>Вийти
                    </a>
                </li>
            }
        </ul>
    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    <script src="~/Scripts/app.js"></script>
    @RenderSection("scripts", required: false)
    @RenderBody()
</body>
</html>
