<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestingModule - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>

    <div class="main-container">
        <div class="navbar">
            @*@Html.ActionLink("Masters of masters", "Index", "admin", new { area = "" }, new { @class = "navbar-logo" })*@
            <a href="@Url.Action("Index", "admin")" class="navbar-logo"><i class='fa fa-globe' aria-hidden='true'></i>Домашня сторінка</a>

            <div class="navbar-login">
                @Html.Partial("_LoginPartial")
            </div>

            <nav class="navbar-nav">

                @{  var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                    var c = claimsIdentity.FindFirst(System.Security.Claims.ClaimTypes.Role);
                    if (Request.IsAuthenticated)
                    {
                        if (c.Value.ToString() != "Student")
                        {
                            <!--<a href="@Url.Action("Index", "admin")"><i class='fa fa-user-secret' aria-hidden='true'></i>admin</a>-->
                            <a href="@Url.Action("Disciplines", "admin")"><i class='fa fa-graduation-cap' aria-hidden='true'></i>Дисципліни</a>
                        }
                        if (c.Value.ToString() != "Lecturer")
                        {
                            <a href="@Url.Action("Specialities", "admin")"><i class='fa fa-book' aria-hidden='true'></i>Спеціальності</a>
                            <a href="@Url.Action("Lectors", "admin")"><i class='fa fa-users' aria-hidden='true'></i>Лектори</a>
                        }
                    }
                }
            </nav>

        </div>
        <div class="body-content body-content__statistics">
            @RenderBody()
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/app.js"></script>
    @RenderSection("scripts", required: false)

    <script>

        var statisticsHub = $.connection.quizHub;
        var totalCorrectAnswers = 1;

        var statisticsDynamicData = [];

        statisticsModel.forEach(function (item, i) {
            statisticsDynamicData[i] = {
                questionId: item.Id,
                totalAnswersCount: 0
            }
        })

        console.log(statisticsDynamicData);

        $.connection.hub.start().done(function () {
            console.log('hub connected');
        }).fail(function (error) {
            console.log(error);
        });

        statisticsHub.client.recieveStatistics = function (questionId, studentsCount) {
            statisticsDynamicData.forEach(function (item) {
                if (item.questionId == questionId) {
                    item.totalAnswersCount++;
                }
                progress(item.questionId, item.totalAnswersCount, studentsCount);
            })
        };

    </script>


</body>
</html>
