
@{
    ViewBag.Title = "TotalStatistics";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 class="title">Загальна статистика</h2>

@model TestingModule.ViewModels.StatisticsViewModel


<div class="statistic-list">
    @{foreach (var discipline in Model.Disciplines)
        {

            <div class="statisticsItem accordion">

                <div class="disciplineName accordion_header">@discipline.Name</div>

                <div class="discipline-list">
                    @foreach (var lecture in Model.Lectures.Where(l => l.DisciplineId == discipline.Id))
                {
                        <div class="lecture">
                            <div class="lecture_name accordion_header">@lecture.Name</div>
                            <div class="lectures_dates">
                                @foreach (var lectureDate in Model.Histories.Where(h => h.LectureId == lecture.Id))
                                {
                                    <a href="@Url.Action("HistoryStatistics", "Quiz", new { lectureHistoryId = lectureDate.Id})" target="_blank" class="lecture_date">@lectureDate.StartTime</a>
                                }
                            </div>
                        </div>
                    }
                </div>


            </div>

        } }
</div>

<script>
    var totalStatisticsModel = @Html.Raw(Json.Encode(@Model));
</script>


